@media print {

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(back-tablet.jpg);
    }

    main {
        width: 80vw;
    }

    #phone {display: none;}
    #tv {display: none;}
    #pc {display: none;}
    #print {display: none;}
    #tablet {display: block;}
 
}


@media screen and (min-width: 992px) and (max-width: 1200px) {

    body {
        background-image: url(back-pc.jpg);
        
    }

    main {
        width: 80vw;
    }

    #phone {display: none;}
    #tv {display: none;}
    #pc {display: block;}
    #print {display: none;}
    #tablet {display: none;}
 
}

@media screen and (min-width: 1200px) {

    body {
        background-image: url(back-tv.jpg);
    }

    main {
        width: 80vw;
    }

    #phone {display: none;}
    #tv {display: block;}
    #pc {display: none;}
    #print {display: none;}
    #tablet {display: none;}
    
}

