* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    background-image: url(back-phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.555);
    width: 80vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}
main {
    text-align: center;
    color: burlywood;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.233);
    margin-top: 10px;
}


#phone {display: block;}
#tv {display: none;}
#pc {display: none;}
#print {display: none;}
#tablet {display: none;}

img {
    margin: auto;
}
    